* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    margin: 0;
    overflow: hidden;
}

.background {
    background-color: rgb(27, 27, 27);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.game-container {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(43, 43, 43);
    border-radius: 8px;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

#score,
#high-score {
    position: fixed;
    top: 10%;
    font-weight: 600;
    font-size: 3.0rem;
    color: gold;
    z-index: 6;
    transform: translateX(-50%);
    text-shadow: 2px 2px 5px rgba(128, 108, 0, 0.7);
}

#score {
    left: 33%;
}

#high-score {
    left: 66%;
}

#bird {
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(100, 255, 28);
    box-shadow: 0 0 10px 10px rgba(82, 255, 1, 0.3);
}

.pillars {
    height: 100vh;
    width: 150px;
    position: absolute;
    top: 0;
    z-index: 3;
}

.pillar-top {
    background-color: rgb(218, 138, 255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 10px rgba(218, 138, 255, 0.3);
}

.pillar-space {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.pillar-bottom {
    background-color: rgb(218, 138, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 10px rgba(218, 138, 255, 0.3);
}

@media screen and (max-width: 600px) {
    .game-container {
        width: 95vw;
    }
}