* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    margin: 0;
    overflow: hidden;
}

.background {
    background-color: rgb(15, 15, 15);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.game-container {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    border-radius: 8px;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

#score,
#high-score {
    position: fixed;
    top: 10%;
    font-weight: 600;
    font-size: 3.0rem;
    color: rgb(15, 15, 15);
    z-index: 6;
    text-shadow: 0px 0px 10px rgb(1, 238, 255);
}

#score {
    left: 20%;
}

#high-score {
    right: 20%;
}

#bird {
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(15, 15, 15);
    border: solid 1px rgb(81, 255, 1);
    box-shadow: 0 0 50px 10px rgba(81, 255, 1, 0.733);
}

.pillars {
    height: 100vh;
    width: 150px;
    position: absolute;
    top: 0;
    z-index: 3;
}

.pillar-top {
    background-color: rgb(15, 15, 15);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: solid 1px rgb(183, 1, 255);
    border-top: none;
    box-shadow: 0 0 100px 20px rgba(183, 1, 255, 0.555);
}

.pillar-space {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.pillar-bottom {
    background-color: rgb(15, 15, 15);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 1px rgb(183, 1, 255);
    border-bottom: none;
    box-shadow: 0 0 100px 20px rgba(183, 1, 255, 0.555);
}

@media screen and (max-width: 600px) {
    .game-container {
        width: 95vw;
    }
}