* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background {
    background-color: rgb(27, 27, 27);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.game-container {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(140, 222, 255);
    border-radius: 8px;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow: hidden;
}

#score {
position: absolute;
    top: 10%;
    left: 50%;
    z-index: 10;
    color: black;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 3.0rem;
}   

#bird {
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
}

.pillars {
    height: 100vh;
    width: 150px;
    position: absolute;
    top: 0;
    z-index: 5;
}

.pillar-top {
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.pillar-space {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.pillar-bottom {
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 600px) {
    .game-container {
        width: 95vw;
    }
}

body,
html {
    margin: 0;
    overflow: hidden;
}